<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-4 justify-center items-center">
    <li class="navbar-item"><a href="#home" class="text-white hover:text-gray-400">Home</a></li>
    <li class="navbar-item"><a href="#about" class="text-white hover:text-gray-400">About</a></li>
    <li class="navbar-item"><a href="#services" class="text-white hover:text-gray-400">Services</a></li>
    <li class="navbar-item"><a href="#contact" class="text-white hover:text-gray-400">Contact</a></li>
  </ul>
</nav>
