<div class="flex items-center justify-center min-h-screen p-4 ">

  <div class="w-full max-w-sm bg-blue-100 p-8 rounded-lg items-center justify-center">
    <div>
      <!-- Heading -->
      <div class="mb-2 text-center w-full flex justify-center">
        <h1 class="text-2xl font-semibold">Login</h1>
      </div>

      <!-- Remaining attempts -->
      <div *ngIf="loginAttempt > 0 && !timerRunning" class="text-center text-red-500 mb-4">
        {{ loginAttempt }} attempts left
      </div>

      <!-- Input fields -->
      <input type="text" id="username" placeholder="Enter ID" [(ngModel)]="usernameInput"
        class="w-full bg-gray-100 p-2 mb-4 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        [disabled]="isLoginDisabled"> <!-- Disable when max attempts are reached -->

      <input type="password" placeholder="Enter Password" id="password" [(ngModel)]="passwordInput"
        class="w-full mt-1 bg-gray-100 p-2 mb-4 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        [disabled]="isLoginDisabled"> <!-- Disable when max attempts are reached -->

      <!-- Login button, disappear when max attempts are reached -->
      <button *ngIf="!isLoginDisabled && !timerRunning"
        class="w-full mt-1 bg-blue-300 p-3 rounded-lg hover:bg-blue-600 text-white font-semibold transition-colors duration-300"
        (click)="countLoginAttempt()">
        Login
      </button>

      <!-- Message for max attempts -->
      <p *ngIf="isLoginDisabled && !timerRunning" class="text-red-500 mt-2">
        Maximum login attempts reached. Please try again later.
      </p>

      <!-- Timer message with countdown -->
      <p *ngIf="timerRunning" class="text-red-500 mt-2">
        Please wait {{ remainingTime }} seconds before trying again.
      </p>
    </div>
  </div>
</div>
