<div class="flex flex-row w-full gap-2 mt-5 p-4">
  <div id="div1" class="w-full p-5 h-24 bg-red-500 flex items-center justify-center">Div 1</div>
  <div id="div2" class="w-full p-5 h-24 bg-blue-500 flex items-center justify-center">Div 2</div>
  <div id="div3" class="w-full p-5 h-24 bg-green-500 flex items-center justify-center">Div 3</div>
  <div id="div4" class="w-full p-5 h-24 bg-yellow-500 flex items-center justify-center">Div 4</div>
</div>

<div class="flex flex-row w-full gap-2 mt-5 p-4">
  <div id="div1" class="w-full p-5 h-24 flex items-center justify-center gap-2">
    <button class="bg-green-500 p-2 rounded" (click)="show()">Show</button>
    <button class="bg-red-500 p-2 rounded" (click)="hide()">Hide</button>
  </div>
  <div id="div2" class="w-full p-5 h-24 flex items-center justify-center gap-2">
    <button class="bg-green-500 p-2 rounded" (click)="toggle()">Toggle</button>
  </div>
  <div id="div3" class="w-full p-5 h-24 flex items-center justify-center gap-2">
    <input type="text" class="p-2 border border-gray-300 rounded">
    <input type="text" class="p-2 border border-gray-300 rounded">
  </div>
  <div id="div4" class="w-full p-5 h-24 bg-yellow-500 flex items-center justify-center">Div 4</div>
</div>